* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-nav me-auto mb-2 mb-lg-0 {
    width: 150vw;
}

.navbar {
    width: 100vw;
    height: auto;
}

.nav-color {
    background-color: rgba(104, 102, 102, 0.801);
}

.navbar ul {
    padding-left: 150px;
    font-size: 20px;
}

.navbar-brand img {
    width: 150px;
    height: 100px;
}

.navbar-toggler {
    background-color: bisque;
    margin: 10px;
}

.carrito {
    height: 50px;
    margin: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main {
    background-color: blanchedalmond;
    position: relative;
    top: 95px;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    overflow-x: hidden;
}


h1 {
    overflow-y: hidden;
}

h2 {
    overflow-y: hidden;
}

h3 {
    overflow-y: hidden;
}

.card{
    height: 600px;
    width: 100px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgen{
    height: 400px;
    width: 200px;
}

.btn:hover {
    background-color: rgb(70, 69, 69);
}

.navbar li:hover {
    padding: 10px;
    background-color: rgb(78, 75, 75);
    border: 1px solid rgb(49, 42, 42);
    border-radius: 5%;
}


.tituloCarro{
    text-align: center;
    margin: 20px;
}

.table{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-start;
    border: 0;

}

.table tbody{
    width: 95vw;
    border: 0;
}

.table tr th {
    border: 1px solid black;
    text-align: center;
    width: 15vw;
    font-size: 12px;
    margin: 0;
    padding: 5px;
}

.table1{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
    border: 0;
}

.table1 tbody{
    width: 95vw;
    border: 0;
}

.table1 tr td {
    border: 1px solid black;
    text-align: center;
    width: 15vw;
    font-size: 10px;
    margin: 0;
    padding: 5px;
}

.total{
    text-align: center;
    margin: 20px 0 40px 0;
}


.botonesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display {
    width: 100px;
    height: 50px;
    margin: 0 10px 0 10px;
    text-align: center;
}

.datosC{
    display: flex;    
    flex-direction: column;
    align-content: center;    
}

.estado{
    text-align: center;
    margin: 20px;
}

.botonConfirmarCompra{
    display: flex;
    justify-content: center;
    margin-top: 20px;    
}

.ver{
    text-align: center;
}

.ponerCant{
    text-align: center;
    color: red;
    font-size: 30px;
    margin-bottom: 30px;
}